@import "show";
@import "new";

.container-idx{
  display: flex;
  justify-content: center;
  gap: 8%;
}

.container-idx a {
  color: #07293E;
  font-size: 2rem;
  font-weight: 500;
}

.user-container {
  display: grid;
}

.container-idx a:hover {
  opacity: 0.9;
}

.chatroom-ind {
  display: flex;
  gap: 5% ;
  align-items: center;
}
