@import "show";
@import "new";

.container-idx{
  display: flex;
  justify-content: center;
  gap: 8%;
}

.container-idx a {
  color: #07293E;
  font-size: 2rem;
  font-weight: 500;
}

.user-container {
  display: grid;
}

.container-idx a:hover {
  opacity: 0.9;
}

.chatroom-ind {
  display: flex;
  gap: 5% ;
  align-items: center;
}

.info-img{
  padding: 30px;
  width: 50%;
  background-image: linear-gradient( 
    124deg, 
    var(--main-color-2) 53%, 
    var(--main-color-1) -50%);
  border-radius: 0  0 80px 80px;
}

.info-img img {
  width: 100%;
  min-height: calc(50% + 100px);
  border-radius: 0  0 80px 80px;
}