.info-img img {
  height: 50px;
  background-color: aqua;
}

.container-main {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem;
  gap: 4%;
}
.user-container {
  display: grid;
  background-color: red;
}