  <footer>
    <div class="container">
      <a href="#" class="logo">Portf<span>olio</span></span></a>
      <p class="text">&copy; Copyright 2022. All rights reserved</p>
      <ul  class="social-media">
        <li>
          <a href="https://github.com/bussularf" class="social-link">
            <i class="uil uil-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/fernanda-de-jesus-198450a7/" class="social-link">
            <i class="uil uil-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#" class="social-link">
            <i class="uil uil-twitter"></i>
          </a>
        </li>
      </ul>
      
    </div>
  </footer>