<footer class="footer fixed-bottom">
  <div class="footer-field">
    <div class="heading">
      <h3>To<b>Talk</b></h3>
    </div>
    <div class="info-right">
      <p class="text">&copy; Copyright 2022. All rights reserved</p>
    </div>
    <div class="social-link">
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a> 
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</footer>