// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise";
@import "chatrooms/index";

// Font
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --hue-1: 257;
  --hue-2: 147;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --section-padding: 7rem;
  --text-color: hsl(var(--hue-1), 17%, 63%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #F4F0FF;
  font-family: 'Poppins', sans-serif;
  color: #07293E;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
